@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap');
.App {
  height: 100vh;
  text-align: center;
}

.username {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: calc(80px + 200 * ((100vw - 800px) / 1120));
  font-weight: 900;
  letter-spacing: .05em;
  color: #fff;
  font-family: 'Lobster', cursive;
}